.university-name {
  font-family: "sans-serif";
  color: #1c1c1c;
  font-size: 1.4rem;
  font-weight: 800;
}

.university-degree {
  font-size: 0.8rem;
  font-weight: 800;
  font-family: "sans-serif";
  color: red;
}
.year-passedout {
  font-family: monospace;
  font-size: 1rem;
  background: var(--standout-color);
  color: #1c1c1c;
  padding: 10px 10px;
  border-radius: 20px;
}
