.progress-some {
  background: red;
  height: 20px;
  width: 200px;
}
.progress-new {
  background: #1c1c1c;
  height: 20px;
}
.language {
  font-family: "ubuntu";
  font-size: 1rem;
  color: #1c1c1c;
  text-transform: capitalise;
}
